<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Victoria Park</string>
		<key>type</key>
		<string>bike</string>
		<key>latitude</key>
		<real>42.988795</real>
		<key>longitude</key>
		<real>-81.249404</real>
		<key>capacity</key>
		<integer>50</integer>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Victoria Park</string>
		<key>type</key>
		<string>jetpack</string>
		<key>latitude</key>
		<real>42.987946</real>
		<key>longitude</key>
		<real>-81.248305</real>
		<key>capacity</key>
		<integer>20</integer>
		<key>price</key>
		<real>0.33</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Green P</string>
		<key>type</key>
		<string>car</string>
		<key>latitude</key>
		<real>42.98829</real>
		<key>longitude</key>
		<real>-81.250168</real>
		<key>capacity</key>
		<integer>42</integer>
		<key>price</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Church</string>
		<key>type</key>
		<string>car</string>
		<key>latitude</key>
		<real>42.987627</real>
		<key>longitude</key>
		<real>-81.249724</real>
		<key>capacity</key>
		<integer>24</integer>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Oak Building</string>
		<key>type</key>
		<string>helicopter</string>
		<key>latitude</key>
		<real>42.985461</real>
		<key>longitude</key>
		<real>-81.251492</real>
		<key>capacity</key>
		<integer>2</integer>
		<key>price</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Senior Center</string>
		<key>type</key>
		<string>boat</string>
		<key>latitude</key>
		<real>42.981733</real>
		<key>longitude</key>
		<real>-81.26025799999999</real>
		<key>capacity</key>
		<integer>24</integer>
		<key>price</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Central</string>
		<key>type</key>
		<string>motorcycle</string>
		<key>latitude</key>
		<real>42.983547</real>
		<key>longitude</key>
		<real>-81.255771</real>
		<key>capacity</key>
		<integer>25</integer>
		<key>price</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Market</string>
		<key>type</key>
		<string>bike</string>
		<key>latitude</key>
		<real>42.982556</real>
		<key>longitude</key>
		<real>-81.251093</real>
		<key>capacity</key>
		<integer>20</integer>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>back lot</string>
		<key>type</key>
		<string>bike</string>
		<key>latitude</key>
		<real>42.980925</real>
		<key>longitude</key>
		<real>-81.252121</real>
		<key>capacity</key>
		<integer>12</integer>
		<key>price</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Green P</string>
		<key>type</key>
		<string>car</string>
		<key>latitude</key>
		<real>42.995332</real>
		<key>longitude</key>
		<real>-81.25233</real>
		<key>capacity</key>
		<integer>12</integer>
		<key>price</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>private</string>
		<key>type</key>
		<string>bike</string>
		<key>latitude</key>
		<real>42.995012</real>
		<key>longitude</key>
		<real>-81.25232099999999</real>
		<key>capacity</key>
		<integer>6</integer>
		<key>price</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
